<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">Rotten Classifier</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">.......</p>
<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">Summary</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  In this project, we looked at various image transformations techniques to best create an accurate model while
  also being reasonable in runtime. We also explored new PyTorch functions such as image tranformations and ones 
  that allow you to load in custom data. We compared the various 
</p>
<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">Problem Setup</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  This class introduced us both to ML. With this, we both found it very interesting which is why we wanted our 
  final project to involve it. We wanted to choose a topic we could further advance in our free time, so we chose 
  a problem most households experience which is having their produce turn rotten. We also wanted to explore more 
  into the data aspect of ML, which is a very crucial part in getting a good model, by finding out ways to create 
  a more accurate model by manipulating the dataset. Our project classifies different fruits and vegetables and 
  also whether they are rotten or fresh using Convoluted Neural Networks.
</p>
<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">Dataset</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  The dataset we used was from the Kaggle which can be found here: 
  <a href ="https://www.kaggle.com/sriramr/fruits-fresh-and-rotten-for-classification"> dataset</a>.
  The dataset consists of around 16000 images of bananas, apples, and oranges of various rotten/fresh levels of
  various image sizes. The image sizes were a challenge we wanted to try and address becuase given the time and 
  hardware constrainsts, we had come up with sacrifices and compromises with accuracy vs. time spent training by 
  manipulating the patch sizes used on the images and finding what crop sizes worked best for training.
  

</p>
<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">Techniques</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">.......
  <figure>
    <img src="images/40.png" style="max-width: 300px;">
    <figcaption><strong>image crop size 40px</strong></figcaption>
  </figure>
  <figure>
    <img src="images/128.png" style="max-width: 300px;">
    <figcaption><strong>image crop size 128px</strong></figcaption>
  </figure>
  <figure>
    <img src="images/144.png" style="max-width: 300px;">
    <figcaption><strong>image crop size 144px</strong></figcaption>
  </figure>

</p>


<!--

<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">Additional Info</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">.......</p>
<h1 {% if site.style == 'dark' %} class="text-white" {% endif %} style="font-size:45px">References</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">.......</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>

-->

